<% layout("/layouts/boilerplate") %>
<div class="row">
    <h1 class="col-8 offset-2">SignUp on CozyCribs</h1>
    <div class="col-8 offset-2">
        <form action="/signup" method="POST" class="needs-validation" novalidate><br>

<div>
            <label for="username" class="form-label">username</label>
        <input type="text" name="username" class="form-control" required id="username">
</div>

<div>
            <label for="email" class="form-label">email</label>
        <input type="email" name="email" class="form-control" required id="email">
</div>

<div>
            <label for="password" class="form-label">password</label>
        <input type="password" name="password" class="form-control" required id="password">
</div>
<br><br><br>

<button class="btn btn-success">SignUp</button>


    </div>
</div>